In [ ]:
# pip install yfinance
# pip install yahoo_fin
# pip install selenium
# pip install requests_html

In [1]:
import yfinance as yf
import pandas as pd

ticker = yf.Ticker('PA=F')
todays_data = ticker.history(period='5y')

print(todays_data)

c:\Users\zbrv6c\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\zbrv6c\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

                                  Open         High          Low        Close  \
Date
2020-02-10 00:00:00-05:00  2271.699951  2271.699951  2271.699951  2271.699951
2020-02-11 00:00:00-05:00  2287.600098  2287.600098  2287.600098  2287.600098
2020-02-12 00:00:00-05:00  2344.399902  2344.399902  2344.399902  2344.399902
2020-02-13 00:00:00-05:00  2372.899902  2372.899902  2372.899902  2372.899902
2020-02-14 00:00:00-05:00  2338.600098  2338.600098  2338.600098  2338.600098
...                                ...          ...          ...          ...
2025-02-04 00:00:00-05:00  1027.000000  1030.000000  1009.700012  1009.700012
2025-02-05 00:00:00-05:00  1014.400024  1014.400024  1014.400024  1014.400024
2025-02-06 00:00:00-05:00   989.299988   989.299988   989.299988   989.299988
2025-02-07 00:00:00-05:00   977.799988   977.799988   977.799988   977.799988
2025-02-10 00:00:00-05:00   981.500000  1015.500000   974.500000  1007.000000

                           Volume  Dividends  Stock Splits
Date
2020-02-10 00:00:00-05:00       0        0.0           0.0
2020-02-11 00:00:00-05:00       0        0.0           0.0
2020-02-12 00:00:00-05:00       0        0.0           0.0
2020-02-13 00:00:00-05:00       0        0.0           0.0
2020-02-14 00:00:00-05:00       0        0.0           0.0
...                           ...        ...           ...
2025-02-04 00:00:00-05:00       9        0.0           0.0
2025-02-05 00:00:00-05:00       0        0.0           0.0
2025-02-06 00:00:00-05:00       0        0.0           0.0
2025-02-07 00:00:00-05:00       0        0.0           0.0
2025-02-10 00:00:00-05:00    6210        0.0           0.0

[1259 rows x 7 columns]

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [4]:
 pip install requests_html

Requirement already satisfied: requests_html in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (0.10.0)
Requirement already satisfied: requests in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (2.32.3)
Requirement already satisfied: pyquery in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (2.0.1)
Requirement already satisfied: fake-useragent in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (2.0.3)
Requirement already satisfied: parse in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (1.20.2)
Requirement already satisfied: bs4 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (0.0.2)
Requirement already satisfied: w3lib in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (2.2.1)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests_html) (2.0.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: certifi>=2023 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (2024.8.30)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (8.5.0)
Requirement already satisfied: pyee<12.0.0,>=11.0.0 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (11.1.1)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (4.67.1)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (1.26.20)
Requirement already satisfied: websockets<11.0,>=10.0 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyppeteer>=0.0.14->requests_html) (10.4)
Requirement already satisfied: beautifulsoup4 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from bs4->requests_html) (4.12.3)
Requirement already satisfied: lxml>=2.1 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyquery->requests_html) (5.3.0)
Requirement already satisfied: cssselect>=1.2.0 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyquery->requests_html) (1.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests->requests_html) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from requests->requests_html) (2.6)
Requirement already satisfied: zipp>=3.20 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.21.0)
Requirement already satisfied: typing-extensions in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from pyee<12.0.0,>=11.0.0->pyppeteer>=0.0.14->requests_html) (4.12.2)
Requirement already satisfied: colorama in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests_html) (0.4.6)
Requirement already satisfied: soupsieve>1.2 in c:\users\zbrv6c\documents\vs_code_jupyter\my_virtual_env\lib\site-packages (from beautifulsoup4->bs4->requests_html) (2.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Crude Oil - CL=F
# Silver - SI=F
# Platinum - PL=F
# Gold - GC=F
# Copper - HG=F

# China-USDCNY=X
# Japan-USDJPY=X
# Malaysia - USDMYR=X
# Taiwan - USDTWD=X
# EUR - USDEUR=X
from datetime import date
from yahoo_fin.stock_info import get_data
date.today()

dates = []
price = []
symbolL = []

tickers = ["CL=F", "SI=F", "PA=F", "GC=F", "HG=F", "PL=F", "USDCNY=X", "USDJPY=X", "USDMYR=X", "USDTWD=X", "USDEUR=X"]
symbols = ["Crude Oil", "Silver", "Palladium", "Gold", "Copper","Platinum","CNY", "JPY", "MYR", "TWD", "EUR"]
for i in range(len(tickers)):
    ticker = tickers[i]
    symbol = symbols[i]
    print(ticker +  ' ' + symbol)
    df = get_data(ticker, start_date="01/01/2019", end_date=str(date.today()), index_as_date = True)
    avg_series = df['close'].resample('M').mean().round(2)
    dates.extend(avg_series.index.tolist())
    price.extend(avg_series.tolist())
    symbolL.extend([symbol] * len(avg_series))

CL=F Crude Oil

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)

SI=F Silver
PA=F Palladium

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)

GC=F Gold
HG=F Copper

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)

PL=F Platinum
USDCNY=X CNY

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)

USDJPY=X JPY
USDMYR=X MYR

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)

USDTWD=X TWD
USDEUR=X EUR

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\3548332220.py:27: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  avg_series = df['close'].resample('M').mean().round(2)

In [4]:
# Get the Nickle LME Price from website https://www.insee.fr/en/statistiques/serie/010002060#Tableau
driverNi = webdriver.Chrome()
driverNi.get('https://www.insee.fr/en/statistiques/serie/010002060#Tableau')
time.sleep(10)
ni_table = driverNi.find_elements("xpath","//div [@class='tableau']")
ni_df = pd.read_html(ni_table[0].get_attribute("outerHTML"))[0]
ni_df

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\1968208844.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ni_df = pd.read_html(ni_table[0].get_attribute("outerHTML"))[0]

     Year      Month    Value
0    2024   December  15442.3
1    2024   November  15733.6
2    2024    October  16794.6
3    2024  September  16108.8
4    2024     August  16249.5
..    ...        ...      ...
415  1990        May   8657.5
416  1990      April   8872.5
417  1990      March   9215.3
418  1990   February   6938.2
419  1990    January   7067.9

[420 rows x 3 columns]

In [5]:
ni_df = ni_df[ni_df['Year'] > 2018]

In [6]:
# Define a function to convert month name to month number
def month_name_to_num(month_name):
    return pd.to_datetime(month_name, format='%B').month

# Combine 'year' and 'month' columns into a single string column
ni_df['date_str'] = ni_df['Year'].astype(str) + '-' + ni_df['Month']
ni_df['date'] = pd.to_datetime(ni_df['date_str'], format='%Y-%B')

# # Get the last date of each month
ni_df['last_date_of_month'] = ni_df['date'] + pd.offsets.MonthEnd(1)

# # Drop the intermediate string column
ni_df.drop(columns=['date_str','Year', 'Month', 'date'], inplace=True)
ni_df = ni_df.iloc[::-1].reset_index(drop=True)
# # Print the resulting DataFrame
print(ni_df)

      Value last_date_of_month
0   11449.3         2019-01-31
1   12643.2         2019-02-28
2   13051.9         2019-03-31
3   12811.2         2019-04-30
4   11991.9         2019-05-31
..      ...                ...
67  16249.5         2024-08-31
68  16108.8         2024-09-30
69  16794.6         2024-10-31
70  15733.6         2024-11-30
71  15442.3         2024-12-31

[72 rows x 2 columns]

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\1265472865.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ni_df['date_str'] = ni_df['Year'].astype(str) + '-' + ni_df['Month']
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\1265472865.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ni_df['date'] = pd.to_datetime(ni_df['date_str'], format='%Y-%B')
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\1265472865.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ni_df['last_date_of_month'] = ni_df['date'] + pd.offsets.MonthEnd(1)
C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\1265472865.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ni_df.drop(columns=['date_str','Year', 'Month', 'date'], inplace=True)

In [7]:
dates.extend(ni_df['last_date_of_month'].tolist())
price.extend(ni_df['Value'].tolist())
symbolL.extend(['Nickle'] * ni_df.shape[0])

In [8]:
df = pd.DataFrame({'Dates': dates, 'Price': price, 'Symbol': symbolL})
df

         Dates     Price     Symbol
0   2019-01-31     51.55  Crude Oil
1   2019-02-28     54.98  Crude Oil
2   2019-03-31     58.17  Crude Oil
3   2019-04-30     63.87  Crude Oil
4   2019-05-31     60.87  Crude Oil
..         ...       ...        ...
881 2024-08-31  16249.50     Nickle
882 2024-09-30  16108.80     Nickle
883 2024-10-31  16794.60     Nickle
884 2024-11-30  15733.60     Nickle
885 2024-12-31  15442.30     Nickle

[886 rows x 3 columns]

In [9]:
quarter_avg = []
n = df.shape[0]
first_year = df['Dates'][0].year
for i in range(n):
    month = df['Dates'][i].month
    year = df['Dates'][i].year
    if year == first_year and month == 1:
        avg = None
    elif year == first_year and month == 4:
        avg = round(sum(df['Price'][i-3:i-1])/len(df['Price'][i-3:i-1]), 3)
    elif month in [4, 7, 10, 1]:
        avg = round(sum(df['Price'][i-4:i-1])/len(df['Price'][i-4:i-1]), 3)
    else:
        avg = None   
    quarter_avg.append(avg)
df['Quaterly Baseline'] = quarter_avg

In [10]:
df

         Dates     Price     Symbol  Quaterly Baseline
0   2019-01-31     51.55  Crude Oil                NaN
1   2019-02-28     54.98  Crude Oil                NaN
2   2019-03-31     58.17  Crude Oil                NaN
3   2019-04-30     63.87  Crude Oil             53.265
4   2019-05-31     60.87  Crude Oil                NaN
..         ...       ...        ...                ...
881 2024-08-31  16249.50     Nickle                NaN
882 2024-09-30  16108.80     Nickle                NaN
883 2024-10-31  16794.60     Nickle          16711.100
884 2024-11-30  15733.60     Nickle                NaN
885 2024-12-31  15442.30     Nickle                NaN

[886 rows x 4 columns]

In [11]:
df.to_excel('materialXrate.xlsx', index=False)

C:\Users\zbrv6c\AppData\Local\Temp\ipykernel_28080\4045806659.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df.to_excel('materialXrate.xlsx', index=False)